.bg-fundo-faq{
  background-image: url("../../assets/fundofaq.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
.faq {
  font-family: "Open Sans", sans-serif;
}
.single-search {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #fdfdfd;
  border-radius: 30px;
  padding: 10px;
}

.search-area {
  display: flex;
  justify-content: center;
}

.edit-titulo{
    display: block;
    position: relative;
    margin: 20px;   
}
.edit-txt{
    color: #252f15!important;
    text-decoration: none;
}
/* classe de edicao dos textos sobre as perguntas frequentes */
.txt-collapse{
    color: #18211A;
    text-decoration: none;
}

.form-control-borderless {
  border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

h5 {
  color: #A6641C;
  text-align: center;
}