<div class="bg-fundo-faq">

  <div class="container bg-container">

    <div class="faq-fundo ">
      <br><br>  
      <img class="edit-logo-amaz" src="../../assets/LogoAmaZAimarrom-01.png" width="100px" height="100px" alt="">
      <br>
      <h1 class="search-area edit-txt ">Central de ajuda AmaZ</h1>

      <h5>O que você está procurando?</h5>

      <br>

      <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
          <div class="searchbar">
            <input class="search_input" type="text" name="" placeholder="Ex: Quais as formas de pagamento?">
            <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
          </div>
        </div>
      </div>
      <br><br><br>
      <div class="pfreq">
        <div>
          <h4 class="search-area edit-txt">Se preferir, você pode navegar pelas dúvidas mais frequentes:</h4>
        </div>
      </div>

      <br><br>
      <div class=" faq accordion" id="accordionExample">

        <div class="card">
          <div class="faq-card card-header" id="headingOne">
            <h2 class="mb-0">
              <button mat-button class="btn btn-link collapsed txt-collapse" type="button" data-toggle="collapse"
                data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Formas de pagamento
              </button>
            </h2>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body edit-txt">
              <p>Você pode pagar seu pedido das seguintes maneiras:</p>
              <p>Pagamento à vista:</p>
              <p>• boleto bancário</p>
              <p>• débito em conta</p>
              <p>• cartão de crédito</p>
              <p>Pagamento parcelado:</p>
              <p>• cartão de crédito</p>
              <p>O pedido estará sujeito à aprovação da administradora de cartão de crédito.</p>
            </div>
          </div>
        </div>
        <br>  
        <div class="card">
          <div class=" faq-card  card-header" id="headingTwo">
            <h2 class="mb-0">
              <button mat-button class="btn btn-link collapsed txt-collapse" type="button" data-toggle="collapse"
                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Frete e Entrega
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body edit-txt">
              <p>É possível acompanhar o status do seu pedido acessando a área logada no site.</p>
              <p>Você pode consultar o prazo de entrega para sua região após a digitação do CEP na página de pedido. As
                estimativas de entrega para os produtos adquiridos pela loja virtual da Amaz são sazonais e
                dependem de região para região.</p>
              <p>ATENÇÃO: O prazo de entrega inicia-se no dia útil seguinte à confirmação do pagamento. Todos os dados
                cadastrais registrados serão avaliados e, caso haja alguma divergência, entraremos em contato.</p>
            </div>
          </div>
        </div>
        <br>

        <div class="card">
          <div class=" faq-card  card-header" id="headingThree">
            <h2 class="mb-0">
              <button mat-button class="btn btn-link collapsed txt-collapse" type="button" data-toggle="collapse"
                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Trocas e Devoluções
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body edit-txt">
              <p>Se você se arrependeu da compra, tem até 7 dias corridos a partir da data de entrega do pedido para
                solicitar sua troca por outro produto de mesmo valor ou a devolução do seu dinheiro. Lembre-se que ele
                deve ser devolvido exatamente como chegou, sem sinal de uso e com lacre, se houver.</p>
              <p>O produto
                chegou com defeito? Você pode solicitar a troca por outro de mesmo valor em até 30 dias corridos
                do momento da entrega.</p>
              <p>Como solicitar a troca ou a devolução do pedido:</p>
              <p>É só entrar em contato com a nossa Central de Relacionamento que
                resolvemos tudo para você. Clique aqui para escolher o canal de atendimento.</p>
            </div>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="faq-card  card-header" id="headingFour">
            <h2 class="mb-0">
              <button mat-button class="btn btn-link collapsed txt-collapse" type="button" data-toggle="collapse"
                data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Como altero meus dados?
              </button>
            </h2>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body edit-txt">
              <p>Para sua segurança só é possível alterar os seguintes dados da sua conta: endereço, telefones,
                e-mail adicional, frase de segurança e senha, para fazer a alteração siga o passo a
                passo abaixo:</p>

              <p>Acesse a sua conta, em seguida selecione meus dados, clique em editar dados, altere seus dados e
                finalize em salvar dados.</p>
              <p>Em alguns casos será realizado um procedimento de segurança por meio do envio de um código para o
                celular
                seguro cadastrado.</p>
            </div>
          </div>
        </div>
        <br>

        <div class="card">
          <div class=" faq-card card-header" id="headingFive">
            <h2 class="mb-0">
              <button mat-button class="btn btn-link collapsed txt-collapse" type="button" data-toggle="collapse"
                data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Como acompanhar meu pedido?
              </button>
            </h2>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
            <div class="card-body edit-txt">
              <p>Você poderá consultar sempre o estágio do seu pedido através do menu MEUS PEDIDOS, no topo do site. As
                classificações dele podem ser:</p>
              <p>PEDIDO REALIZADO:</p>
              <p>Significa que o seu pedido foi registrado em nosso sistema e está aguardando confirmação de pagamento.
              </p>
              <p>PROCESSANDO PAGAMENTO:</p>
              <p>Etapa onde seu pedido passará pela análise da AmaZ quanto ao meio de pagamento utilizado, a
                quantia recebida e se os produtos estão disponíveis em estoque. A Análise ocorrerá em até 48 horas.</p>
              <p>PREPARANDO ENTREGA:</p>
              <p>Significa que seu pedido foi aprovado e agora se encontra no estágio de separação dos produtos em
                estoque.</p>
              <p>ENVIADO:</p>
              <p>Pedido está com a transportadora, a caminho de ser entregue.</p>
              <p>PEDIDO CANCELADO:</p>
              <p>Significa que o pedido não foi concluído por um destes motivos: (I) não liberado durante a análise. Um
                e-mail será enviado para o consumidor avisando deste status; (II) pedido com pagamento em boleto
                bancário sem pagamento detectado no prazo estabelecido. Um e-mail será enviado para o consumidor
                avisando deste
                status; (III) pedido com pagamento não autorizado pela operadora de cartão de crédito. Um e-mail será
                enviado para o consumidor avisando deste status; (IV) pedido não concluído devido a um erro no navegador
                do usuário, travamento em seu computador ou falha na comunicação em rede no procedimento de conclusão da
                compra.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>

  </div>
