.txt-collapse{
  font-weight: bold;
}

.faq {
  font-family: "Open Sans", sans-serif;
}
.single-search {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #fdfdfd;
  border-radius: 30px;
  padding: 10px;
}

.search-area {
  display: flex;
  justify-content: center;
}

.edit-titulo{
    display: block;
    position: relative;
    margin: 20px;   
}
.edit-txt{
    color: #252f15!important;
    text-decoration: none;
}
/* EDICÇÃO DO COLAPSE */
.faq-card{
  border-radius: 20px;
  background: rgb(214, 206, 206);         
  
}
/* classe de edicao dos textos sobre as perguntas frequentes */
.txt-collapse{
    color: #18211A;
    text-decoration: none;
}

.form-control-borderless {
  border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

h5 {
  color: #A6641C;
  text-align: center;
}
/* EDIÇÃO DO LOGO AMAZ */

.edit-logo-amaz{
  align-items: center;
  margin: auto;
  
  display: flex;
  justify-content: center;
}

/* ---------------------------------------- SEARCH BOX */

.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color:rgb(214, 206, 206); 
  border-radius: 30px;
  padding: 10px;
  }

  .search_input{
  color:#A6641C;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;

  }

  .searchbar > .search_input{
  padding: 0 10px;
  width: 450px;
  caret-color:red;
  
  
  }


  .search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #252f15!important;
  }
