#background {
  background-color: rgba(236, 227, 214, 0.882);
  background-image: url("../../assets/fundocontato.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80ch;
}
.form-control {
  cursor: Text;
}

.form-control.erro {
  cursor: Text;
  border: 1.5px solid rgba(175, 0, 0, 0.800);
  background-color: rgba(223, 0, 48, 0.377);
}
#titcontato {
  text-align: center;
  width: 28%;
}
#formulario {
  margin-top: 2%;
  width: 450px;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.555);
  border: 1px solid #ccc;
  border-radius: 1em;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.452);
}
label {
  display: block;
  margin-left: 5%;
  width: 90px;
  text-align: left;
  font: 16px sans-serif;
  padding: 3px;
}

input,
textarea {
  font: 14px sans-serif;
  cursor: pointer;
  padding: 7px 7px;
  width: 90%!important;
  box-sizing: border-box;
  border: 1px solid #999;
  margin-left: 5%;
  border-radius: 5px;
  transition: all 0.2s linear;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.btn {
  background-color: #18211a;
  color: wheat;
  display: inline-block;
  margin-left: 0.5em;
}

#emailHelp {
  display: block;
  margin-left: 10%;
  text-align: left;
  font-size: 9px;
}

.alert {
  padding: 3px;
  margin: auto;
  text-align: center;
  width: 250px;
  font-size: 12px;
}
