<div style="margin-top: 50px" class="d-block position-sticky text-center">
    <h4>Produtos AmaZ</h4>
</div>

<div style="margin-top: 50px" class="d-block position-sticky text-center">
    <button *ngIf="usuario" [routerLink]="'/alterar-produto'" class="btn btn-info align-middle" id="update">Alterar</button>
    <button *ngIf="usuario" [routerLink]="'/inserir-produto'" class="btn btn-info align-middle" id="insert">Inserir</button>

    <input class="align-middle" style="height: 40px; width:200px; margin:5px" id="idProduto" type="number"
        [(ngModel)]="idProduto" />
    <!-- <label for="singleSelect"> Single select: </label>
    <select name="singleSelect" [(ngModel)]="idProduto">
        <option *ngFor="let produto of produtos" name="idProduto" value="{{produto.idProduto}}">{{produto.idProduto}} -
            {{produto.titulo}}</option>
    </select>-->
    <button class="btn btn-info align-middle" id="btnId" (click)="findIdProduto()">Consultar Id</button>
    <!--<button class="btn btn-info align-middle" id="btnAll" (click)="findAllProduto()">Consultar All</button>
    <button class="btn btn-info align-middle" id="update" (click)="ativarUpdateProduto()">Alterar </button>
    <br /> -->
</div>

<div style="margin-top: 50px" class="d-block position-sticky">

    <div class="container col-8 align-middle" style="width: 720px;" *ngIf="produtoNao == true">
        <div class="card mb-3 align-middle" style="max-width: 720px;">
            <div class="row no-gutters">
                <div style="background-color: rgb(170, 170, 170)" class="col-xl-7 col-lg-7 col-sm-12">
                    <div class="card-body">
                        <h5 class="card-title">Produto não encontrado!</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

 <div class="container col-8 align-middle" style="width: 720px;" *ngIf="showId == true">
        <div class="card mb-3 align-middle" style="max-width: 720px;">
            <div class="row no-gutters">
                <div class="col-xl-5 col-lg-5 col-sm-12">
                    <img src="{{produto.linkfoto}}" class="card-img" alt="...">
                </div>
                <div style="background-color: rgb(170, 170, 170)" class="col-xl-7 col-lg-7 col-sm-12">
                    <div class="card-body">
                        <h5 class="card-title">{{produto.idProduto}} - {{produto.titulo}}</h5>
                        <h6 class="card-text">Preço: R$ {{produto.preco}},00</h6>
                        <p  class="card-text">Descricao: {{produto.descricao}}</p>
                        <p  class="card-text"><small class="text-muted">Quantidade no Estoque:
                                {{produto.qtdEstoque}}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container col-8 align-middle" style="width: 720px;" *ngIf="showAll == true">
        <div *ngFor="let produto of produtos">
            <div class="card mb-3 align-middle" style="max-width: 720px;">
                <div class="row no-gutters">
                    <div class="col-xl-5 col-lg-5 col-sm-12">
                        <img src="{{produto.linkfoto}}" class="card-img" alt="...">
                    </div>
                    <div style="background-color: rgb(170, 170, 170)" class="col-xl-7 col-lg-7 col-sm-12">
                        <div class="card-body">
                            <h5 class="card-title">{{produto.idProduto}} - {{produto.titulo}}</h5>
                            <h6 class="card-text">Preço: R$ {{produto.preco}},00</h6>
                            <p class="card-text">Descricao: {{produto.descricao}}</p>
                            <p class="card-text"><small class="text-muted">Quantidade no
                                    Estoque:{{produto.qtdEstoque}}</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>