.navbar-bege {
    background-color: rgb(189, 196, 170);
    height: 55px;
}

.nav-link {
    color: rgba(72, 97, 77, 1);
    font-weight: 550;
}

.navbar-brand {
    color: rgba(72, 97, 77, 1);
    padding-left: 10px;
    padding-top: 10px;
}

