
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">
        <img src="assets/LogoAmaZAimarrom-01.png" width="40" height="40" class="d-inline-block align-top">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <div class="col-10">
            <ul class="nav navbar-nav mr-lg-auto">
                <li class="nav-item active">
                    <button [routerLink]="'/home'" class="nav-link mat-button" mat-button>Home</button><span
                        class="sr-only">(current)</span>
                </li>
                <li class="nav-item">
                    <button [routerLink]="'/produtos'" class="nav-link mat-button hvr-float " mat-button >Produtos</button>
                </li>
                <li class="nav-item">
                    <button [routerLink]="'/sobrenos'" class="nav-link mat-button" mat-button>Sobre Nós</button>
                </li>
                <li class="nav-item">
                    <button [routerLink]="'/comunidades'" class="nav-link mat-button" mat-button>Comunidades</button>
                </li>
                <li class="nav-item">
                    <button [routerLink]="'/contato'" class="nav-link mat-button" mat-button>Contato</button>
                </li>
                <li class="nav-item">
                        <button [routerLink]="'/faq'" class="nav-link mat-button" mat-button>Ajuda</button>
                    </li>
                <div class="wrapper c-height">
                    <div class="search-area c-height">
                        <div class="single-search">
                            <input class="custom-input" type="text" name="" placeholder="">
                            <a href="#" class="icon-area"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div>

            </ul>

        </div>
        <div class="col-2">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <button [routerLink]="'/login'" class="nav-link mat-button" mat-button>Entre</button>
                </li>
                <li class="nav-link">|</li>
                <li class="nav-item">
                    <button [routerLink]="'/cadastro'" class="nav-link mat-button" mat-button>Cadastre-se</button>
                </li>
            </ul>
        </div>
    </div>
</nav>