.navbar-collapse{
    background-color: #252f15!important;
}

.navbar-light {
    background-color: #252f15!important;
}

.nav-link {
    color: #BBD28E!important;
    font-weight: 550;
}
.col-3 {
    margin-left: 10%;
}