<header class="navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <div class="row no-gutters">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="justify-content-start">
          <a id="btnSearch" class="btn-search"><i class="fa fa-search"></i></a>
          <input id="searchBar" class="searchbar" type="text" placeholder="PESQUISAR...">
        </div>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="logo justify-content-center">
          <a>
            <img src="assets/AMAZ2.png" width="30%" height="30%">
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <ul class="nav navbar-nav justify-content-end">
          <li class="nav-loginSenha">
            <button *ngIf="!usuario" [routerLink]="'/login'" class="nav-link mat-button">Entre</button>
            <label>ou</label>
            <button [routerLink]="'/cadastro'" class="nav-link mat-button">Cadastre-se</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- <a class="navbar-brand">
        <img src="assets/LogoAmaZAimarrom-01.png" width="40" height="40" class="d-inline-block align-top">
    </a> -->
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>-->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <div class="col-12 ">
      <ul class="nav navbar-nav mr-lg-auto justify-content-center">
        <li class="nav-item active">
          <button [routerLink]="'/home'" class="nav-link mat-button" mat-button>Home</button><span
            class="sr-only">(current)</span>
        </li>
        <li class="nav-item">
          <button [routerLink]="'/produtos'" class="nav-link mat-button hvr-float " mat-button>Produtos</button>
        </li>
        <li class="nav-item">
          <button [routerLink]="'/sobrenos'" class="nav-link mat-button" mat-button>Sobre Nós</button>
        </li>
        <li class="nav-item">
          <button [routerLink]="'/comunidades'" class="nav-link mat-button" mat-button>Comunidades</button>
        </li>
        <li class="nav-item">
          <button [routerLink]="'/contato'" class="nav-link mat-button" mat-button>Contato</button>
        </li>
        <li class="nav-item">
          <button [routerLink]="'/faq'" class="nav-link mat-button" mat-button>Ajuda</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
