.container{
    position: relative;
    height: 500px;
    width: 100%;
}

.card-title{
    padding: 100px;
}

.logado{
    z-index: 1;
    margin-top: 15px;
    left: 0;
    width: 100%;
    text-align: center;
    float: left;
    position:absolute; 
  }
