/*ESTILO  BARRA LATERAL */
.sidebar{
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.322);
}
/* TABela */
.tabela{

    display: flex;
    align-content: center; 

}
/* ---PRODUTOS----   */


.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}