<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 md-mb-30 sm-mb-30 justify-content-center">
            <h3>Alterar/Deletar Produto</h3>

            <div class="form-group">
                    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Selecione um produto: </label>
                    <select class="custom-select my-1 mr-sm-2"  [(ngModel)]="id" (mouseup)="findIdProduto()" id="inlineFormCustomSelectPref">
                      <option selected>-------- ESCOLHA UM PRODUTO ---------</option>
                      <option *ngFor="let produto of produtos" name="id" value="{{produto.id}}">
                            {{produto.id}} -
                            {{produto.titulo}}</option>
                    </select>
            </div>

            <div class="form-group">
                <label for="nome" class="card-title">{{produto.id}} -</label>
                <input name="titulo" class="form-control" required="required" type="text" value="{{produto.titulo}}"
                    [(ngModel)]="produto.titulo" required>
            </div>

            <div class="form-group">
                <label for="nome">Preço:</label>
                <input name="preco" class="form-control" required="required" type="text" value="{{produto.preco}}"
                    [(ngModel)]="produto.preco" required>
            </div>

            <div class="form-group">
                <label for="nome">Descrição:</label>
                <input name="descricao" class="form-control" required="required" type="text"
                    value="{{produto.descricao}}" [(ngModel)]="produto.descricao" required>
            </div>

            <div class="form-group">
                <label for="nome">Quantidade no Estoque:</label>
                <input name="qtdEstoque" class="form-control" required="required" type="text"
                    value="{{produto.qtdEstoque}}" [(ngModel)]="produto.qtdEstoque" required>
            </div>

            <div class="form-group">
                <a class="btn" id="alterar" (click)="alterar()">Confirmar</a>
                <a class="btn" id="alterar" (click)="deletar()">Deletar</a>
            </div>
        </div>
    </div>
</div>

<!--  INICIO DO MODAL  -->
<!-- Modal -->
<div class="modal fade" id="deletarModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <!--Content-->
        <div class="modal-content form-elegant">
            <!--Header-->
            <div class="modal-header text-center">
                <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel">
                    <strong>DELETAR</strong></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body mx-4">
                <!--Body-->
                <div class="md-form mb-5">
                    <p class="font-small blue-text d-flex justify-content-start "> Tem certeza que deseja
                        deletar? </p>
                </div>
                <div class="logar">
                    <button type="button" class="btn btn-block entrar recolhe" data-dismiss="modal">Não</button>
                    <button type="button" class="btn btn-block entrar recolhe" data-dismiss="modal"
                        (click)="deletar(produto.id)">Sim</button>
                </div>
            </div>
            <!--Footer-->
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Modal -->

<!-- FIM DO MODAL -->