<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 md-mb-30 sm-mb-30 justify-content-center">
      <h3>Alterar/Deletar Produto</h3>

      <div class="container col-md-8 col-sm-8 col- 6">
        <div class="row">
          <mat-form-field class="form-group form-edit ">
            <mat-label class="label my-1 mr-2" for="inlineFormCustomSelectPref"> <strong>

                <h5>Selecione um produto: </h5>
              </strong> </mat-label>
            <mat-select class="custom-select my-1 mr-sm-2" [(ngModel)]="id" (mouseup)="findIdProduto()"
              id="inlineFormCustomSelectPref">
              <mat-option class="option" selected>-------- ESCOLHA UM PRODUTO ---------</mat-option>
              <mat-option *ngFor="let produto of produtos" name="id" value="{{produto.id}}">
                {{produto.id}} -
                {{produto.titulo}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="form-group">
        <label for="nome" class="card-title">Id: {{produto.id}} </label>
        <input name="titulo" class="form-control" required="required" type="text" value="{{produto.titulo}}"
          [(ngModel)]="produto.titulo" required>
      </div>

      <div class="form-group">
        <label for="nome">Preço:</label>
        <input name="preco" class="form-control" required="required" type="text" value="{{produto.preco}}"
          [(ngModel)]="produto.preco" required>
      </div>

      <div class="form-group">
        <label for="nome">Descrição:</label>
        <input name="descricao" class="form-control" required="required" type="text" value="{{produto.descricao}}"
          [(ngModel)]="produto.descricao" required>
      </div>

      <div class="form-group">
        <label for="nome">Quantidade no Estoque:</label>
        <input name="qtdEstoque" class="form-control" required="required" type="text" value="{{produto.qtdEstoque}}"
          [(ngModel)]="produto.qtdEstoque" required>
      </div>

      <div class="form-group">
        <label for="nome">Adcionar Link da foto:</label>
        <input name="qtdEstoque" class="form-control" required="required" type="text" value="{{produto.qtdEstoque}}"
          [(ngModel)]="produto.qtdEstoque" required>
      </div>    


      <div class="form-group">
        <a class="edit-a btn  align-middle" id="alterar" (click)="alterar()">Confirmar</a>
        <a class="edit-a btn  align-middle" id="alterar" (click)="deletar()">Deletar</a>
      </div>
      <div>

      </div>
    </div>
  </div>
</div>
