.no-gutter {
  margin-right: 0!important;
  margin-left: 0!important;
}

.no-gutter > [class*="col-"] {
  padding-right: 0!important;
  padding-left: 0!important;
}

.imgcomunidade1 {
  height: 400px;
  width: 100%;
}
.imgcomunidade2 {
  height: 400px;
  width: 100%;
}
.imgcomunidade3 {
  height: 400px;
  width: 100%;
}
.imgcomunidade4 {
  height: 400px;
  width: 100%;
}
.imgcomunidade5 {
  height: 400px;
  width: 100%;
}
.txt-one {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  text-indent: 2em;
  text-align: justify;
  padding: 20px;
}
.txt-two {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  text-indent: 2em;
  text-align: justify;
  padding: 20px;
}
.txt-three {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  text-indent: 2em;
  text-align: justify;
  padding: 20px;
}
.txt-four {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  text-indent: 2em;
  text-align: justify;
  padding: 20px;
}
.txt-five {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  text-indent: 2em;
  text-align: justify;
  padding: 20px;
}

/* Responsividade CSS */
@media (min-width: 576px) {
  .container {
    width: 576px!important;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px!important;
  }
}
@media (min-width: 992px) {
  .container {
    width: 992px!important;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px!important;
  }
}
