.imgcomunidade1 {
  height: 100%;
  width: 100%;
}
.imgcomunidade2 {
  height: 100%;
  width: 100%;
}
.imgcomunidade3 {
  height: 100%;
  width: 100%;
}
.imgcomunidade4 {
  height: 100%;
  width: 100%;
}
.imgcomunidade5 {
  height: 100%;
  width: 100%;
}
h2 {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-top: 3%;
  color: #a6641c;
  font-weight: bold;
}
h3 {
  font-size: 1.5em;
}
hr {
  border-color: #252f15 !important;
  box-sizing: border-box;
  width: 100%;
}
.txt-one {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  text-indent: 2em;
  text-align: justify;
  padding: 25px;
}
.txt-two {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  text-indent: 2em;
  text-align: justify;
  padding: 25px;
}
.txt-three {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  text-indent: 2em;
  text-align: justify;
  padding: 25px;
}
.txt-four {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  text-indent: 2em;
  text-align: justify;
  padding: 25px;
}
.txt-five {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  text-indent: 2em;
  text-align: justify;
  padding: 25px;
}
