.carousel-inner .item {
  height: 100px;
}
.edit-font-carousel {
  font-family: Helvetica, sans-serif;
}
.d-block {
  height: 600px;
  width: 800px;
}
.carousel-caption {
  margin-bottom: 100px;
  background-color: rgba(255, 255, 255, 0.5);
}
.carousel-caption h2 {
  font-size: 55px;
  color: #A6641C;
  font-family: Arial, Helvetica, sans-serif;
}
.carousel-caption h2 span {
    color: #252f15;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
  }
.carousel-caption h3 {
    color: rgb(0, 0, 0);
    font-family: Helvetica, sans-serif;
    font-size: 17px;
    text-align: justify;
    margin-right: 3%;
    margin-left: 3%;
    text-indent:2em;
  }
.carousel-caption a {
  background: #252f15;
  padding: 12px 35px;
  display: inline-block;
  margin-top: 15px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  border-radius: 25px;
}

.carousel-control.right {
  background-image: none;
}
.carousel-control.left {
  background-image: none;
}

.carousel-indicators .active {
  background: #252f15;
  border-color: #252f15;
}

.carousel{
  position: relative;
}

.logado{
  z-index: 1;
  margin-top: 15px;
  left: 0;
  width: 100%;
  text-align: center;
  float: left;
  position:absolute; 
}
/* animação de aproximação de imagem */
#carouselExampleIndicators .carousel-inner .carousel-item img{
  height: 100vh;
  width: 100px;
}
.carousel-inner .carousel-item > img {
  -webkit-animation: thing 20s;
  -o-animation: thing 20s;
  animation: thing 20s;
}
@keyframes thing{
  from{
      transform: scale(1, 1);
  }
  to{
      transform: scale(1.5,1.5);
  }
}