
<div class="bg-total"> 
<div style="margin-top:20px" >
  <div style="text-align: center;" class="row"> 
    <div class="col-12">
      <!-- <img src="/Imagens/LOGO_MENOR-01.png" alt="Logo da AmaZ" id="Logo"> -->
    </div>
    <div class="col-12" id="caixa1"><br>
      <img src="assets/QUEM_SOMOS_PNG-01.png" alt="Título da página: Quem Somos?" id="titulo">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </div>

    <div class="container-bg">
    <div class="col-xl-10 container-fluid text-justify" id="caixa2">
    
      <p class="recuo">Somos uma equipe de desenvolvedores web com histórias e experiências bem diversas de vida, e nos
        unimos
        para criarmos uma plataforma e-commerce que funciona como uma qualificada vitrine para o artesanato
        brasileiro, no caso, produzido por comunidades tradicionais da região Amazônica. Com o principal propósito de
        apoiar, valorizar e promover essa cultura, focando na sustentabilidade
        ambiental, econômica, social e cultural dos grupos
        produtivos, auxiliando em sua autonomia e desenvolvimento socioeconômico. E por consequência,
        incentivando a proteção da floresta.</p>
      <p class="recuo">
        Através da comercialização do artesanato tradicional, design e arte popular - técnicas de trançados,
        rendas, bordados, cerâmicas e tecelagem -, aproximando os artesãos do público consumidor, levando o
        patrimônio cultural do Brasil
        afora. A maior parte do lucro será revertido para as comunidades produtores, e outra parte para o fundo
        de proteção da floresta Amazônica.</p>
    </div>
  </div>
  </div>
  <div class="container">
  <div class="team-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header text-center">
            <br>
            <h2>Nossos desenvolvedores</h2>
            


            <br>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-9">
        <div class="single-team">
          <div class="team-img">
            <img src="assets/foto_mariana.jpeg" alt="" />
          </div>
          <div class="team-content">
            <div class="team-info">
              <h3>Mariana Franco</h3>
              <p>Web developer</p>
            </div>
            <p class="team-text">
              Desenvolvedora web e Arquiteta que encontrou na tecnologia as
              ferramentas para transformar o seu trabalho em algo relevante de
              acordo com os seus valores. #maismulheresnatecnologia
            </p>
            <a href="">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-9">
        <div class="single-team">
          <div class="team-img">
            <img src="assets/foto_caiosewa.jpeg" alt="" />
          </div>
          <div class="team-content">
            <div class="team-info">
              <h3>Caio Sewa</h3>
              <p>Web developer</p>
            </div>
            <p class="team-text">
              Desenvolvedor web e Arquiteto que através da tecnologia pretende
              transformar a sua vida e consequentemente mudar a história de
              outras pessoas.
            </p>
            <a href="">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-9">
        <div class="single-team">
          <div class="team-img">
            <img src="assets/foto_leonardo.jpeg" alt="" />
          </div>
          <div class="team-content">
            <div class="team-info">
              <h3>Leonardo Gregorio</h3>
              <p>Web developer</p>
            </div>
            <p class="team-text">
              Desenvolvedor web e Analista de TI sempre envolvido na
              tecnologia e utilizando das ferramentas ao seu alcance para
              transformar o futuro!
            </p>
            <a href="">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-9">
        <div class="single-team">
          <div class="team-img">
            <img src="assets/foto_gustavo.jpeg" alt="" />
          </div>
          <div class="team-content">
            <div class="team-info">
              <h3>Gustavo Macedo</h3>
              <p>Web developer</p>
            </div>
            <p class="team-text">
              Apaixonado por tecnologia e em como ela pode impactar a vida das
              pessoas. Buscando sempre agregar valor e conhecimento, com
              personalidade de liderança e visando a excelência nos trabalhos
              em equipe.

            </p>
            <a href="www.linkedin.com/in/gumaceddo">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>
</div>

