.container {
  margin-bottom: 5%;
}

.container-bg {
  background-image: url("../../assets/fundosobrenos.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container-bg p {
  margin: 2% 10%;
}

h1 {
  text-align: center !important;
  margin-top: 3%;
  font-family: 'Ubuntu', sans-serif;
  color: #F8ECEC;
  
}

h3 {
  text-align: center !important;
  font-family: 'Ubuntu', sans-serif;
  padding: 2%;
  margin-bottom: -5%;
  margin-top: 2%;
}

.recuo{
  text-align: justify;
  color: #F8ECEC;
  text-indent: 2em;
}


.single-team {
  padding-bottom: 70px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgb(143, 143, 143);
  margin: 2%;
}

.team-img {
  position: relative;
  z-index: 5;
  overflow: hidden;
}

.team-img img {
  width: 100%;
  transition: .4s;
}

.single-team:hover .team-img img {
  transform: scale(1.1);
}

.team-content {
  height: 75px;
  width: 100%;
  position: absolute;
  text-align: center;
  overflow: hidden;
  bottom: 0;
  transition: all .4s;
  background: rgba(37, 47, 21, 0.80);
  z-index: 5;
}

/* .single-team:hover .team-content {
  height: 300px;
} */

.team-info {
  padding: 5px 20px 5px 20px;
  transition: all .5s;
  font-family: 'Open sans', sans-serif;
}

.single-team:hover .team-content {
  background: rgba(37, 47, 21, 0.80);
  height: 100%;
}

.single-team .team-content .team-info h3 {
  text-transform: uppercase;
  color: #F8ECEC;
  font-size: 16px;
  margin: 5px;
  font-family: 'Open sans', sans-serif;
  padding: 2%;
}

.single-team:hover .team-info h3 {
  color: tomato;
}

.team-info p {
  margin-top: 5px;
  color: #BBD28E;
  font-family: 'Open sans', sans-serif;
}

.team-text {
  color: #F8ECEC;
  padding-left: 3% !important;
  padding-right: 3% !important;
  font-family: 'Open sans', sans-serif;
  text-align: center !important;
  margin-top: -5%;
}
